.main-statistics-div {
    display: flex;
    flex-direction: row;
    gap: 25px;  
}

.single-stat-div {
    display: flex;
    flex-direction: row;
    border: 1.5px solid #E2E8F0;
    padding: 22px 90px 22px 32px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 0px 4.5px 0px #EBEEF2;
    height: fit-content;
    width: fit-content;
    align-items: center;
    gap: 15px;
}

.left-section {
    display: flex;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: #FFEEEF;
    align-items: center;
    justify-content: center;
}

.right-section {
    display: flex;
    flex-direction: column;
}

.stat-div-title {
    font-family: Poppins-Medium;
}

.stat-div-figure {
    font-family: Poppins-SemiBold;
    font-size: 24px;
}