
.App {
  margin: 0;
  font-family: sans-serif !important;
  font-weight: 400;
  font-style: normal;


  display: flex;



}



.routes-content{

  padding: 2%;
}


.content{
  padding :2% ; 
}


.mainContent {
  width: 80%;
}


@media (max-width: 900px) {
  .mainContent {
    width: 75%;
  }

 
}



